body {
	background: #DEF5E5;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	height: 100vh;
	flex-direction: column;
	background-image: url('../bg5.jpg');
	background-position: center;
	background-size: 100%;
	background-attachment: fixed;
	font-size: 25px;
}

header {
    background: #9ED5C5;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

form {
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
    align-content: center;
	margin: 10px;
}

h1 {
	color: #354259;
}

/* label {
	
} */

.condition {
	position: absolute;
	left: 40%;
	background-color: white;
}

.hotel_info {
	position: absolute;
	left: 40%;
}

#row {
	text-align: center;
}

#hotel_info, #title {
	display: inline;
}

.var{
	position: absolute;
	left: 43%;
}

 th, td {
	border: 1px solid;
	margin: 0%;
  }

.history {
	background-color: white;
	width: 60%;
}

input {
	font-size: 20px;
	margin: 10px;
}

select {
	font-size: 20px;
	margin-right: 10px;
	width: 350px;
}

.bord{
	border: #354259 solid 1px;
}